.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.zone {
    color: black;
    font-size: 2em;
    border-radius: 4px;
}

.card-persona {
    background-color: white;
    margin: 10px;
}
.card-persona img {
    border-radius: 50%;
    border-color: white;
}

.card h1 {
    font-size: 1.3rem;
}
#btn_unete{
    border-radius: 7px;
    float:right;
    background-color: #4B2A92;
    color: #fff;
    padding: 0.5% 10%;
}

#btn_unete:hover {
    background-color: #a17afc;
}
.cover {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
}
.contiene {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-wrapper {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
.position
{
    float: right;
}

.blue {
    background: #6F8AED;
}


p{
    padding: 15px;
}
.ca .card{
    border-radius: 70%;
    border-color: white;
}
.column {
    width: 15%;
    padding: 0 10px;
}
h4 {
    margin: 20px 1px;
}
.card {
    border-color: white;
}

.a {
    font-family: CR;
    font-size: 18px;
    text-align: center;
}

.b {
    font-family: CR;
    font-size: 1.49vw;
}

.c {
    font-family: CR;
    font-size: 1.49vw;
}
.e {

    margin-bottom: 100px;
}

.nosotros {
    border: black 0 solid;
    width: 65vw;
}
.fw-bold {
    border: black 0 solid;
    width: 10vw;
}
.fs-5 {
    font-family:CR;
}