* {
    /* border: 1px red solid; */
    padding: 5px;         /* todos los elementos estan juntos, no hay espacio*/
    margin: 5px;
}

#titulo {
    /*border: blueviolet 10px solid;*/
    border-color: blueviolet;
    border-width: 10px;
    border-style: solid;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    padding-top: 0;
    border-top: 0;
    margin-top: 0;
    font-family: "Comic Sans MS"; /* cambiar fuente  de letra*/
    font-size: 50px; /* cambiar taamñod e letra*/
}


h3, h1, h5 {        /* modificar a varios elementos*/
    color: blue; /* Esto modifica a todos los h3 que hay*/
}
#mio {
    color: violet;   /* usamos es #mio porque le pusimos al h3 un id mio, esto solo modificara al h3 mio, en el caso de que  hubiesen muchos h3*/
    text-decoration: underline;
}
main p {
    background-color: antiquewhite;  /* Modifica al p que esta dentro de un main, no al que esta afuera*/
    color: #7115ff;

}

a {
    text-decoration: none; /* Quita a los Links a el subrayado ese*/
}

a:hover {
    color: green; /* Cuando ponemos el mouse sobre un link, cambia de color a verde*/
}

ul li:first-child {
    text-decoration: underline; /* firstchild para el primer elemento de mi lista*/
}

div {
    border: red 1px solid;
    height: 100px;  /* damos a los enlaces un tamaño de 100px*/
    max-width: 500px;
    margin: 5px;
}