@media (max-width: 992px){
    .style-text li a {
        font-size: 18px;
        padding: 0px;
    }
    .style-text2 li{
        color: white;
        width: 180px;
        font-size: 12px;
        margin: 5px;
    }
    .style-segundo {
        font-family:CB;
        color: black;
        font-size: 2vw;
        text-align: center;
    }

    .style-text3 {             /*queda*/
        text-decoration: none;
        font-family:CR;
        font-size:18px;
        border:0px;
    }

}

@media (max-width: 767px){
    .style-segundo {
        font-family:CB;
        color: black;
        font-size: 3vw;
        text-align: center;
    }
    .row-medio {
        width: 45vw;
    }
    .row {
        margin-top: 0px;

    }
}

.black .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}