/*Sobre Pro y descarga*/

#containerPlanPro {
    border: 3px solid salmon;
}

.row {
    border: 2px solid chartreuse;
}

.container + .container {
    margin-top: 3%;
}

#col-infoPro {
    border: 1px solid purple;
}

/*color de texto para el h3*/
#infoPro h3 {
    color: #4B2A92;
}

#col-imgContainer {
    border: 1px solid deepskyblue;
    padding: 0;
}

/* Para centrar la imagen*/
#imgContainer {
    border: 1px solid #000;
    width: 80%;
    margin: 0 auto;
}

#proImg {
    width: 100%;
    border-radius: 5%;
}

#infoPro {
    border: 2px solid #000;
}

#btn_conoceMas {
    border-radius: 7px;
    float: right;
    background-color: #4B2A92;
    color: #fff;
    padding: 1.5% 2%;
}

#btn_conoceMas:hover {
    background-color: #a17afc;

}

/*Sección de descarga*/
#containerDescarga {
    border: 4px solid crimson;
    margin-bottom: 3%;
}

/*Botones de descarga*/
#contenedor_cta {
    border: 2px solid deepskyblue;
    width: 50%;
}

.btnDescarga {
    border: 1.5px solid chocolate;
    width: 55%;
    margin: 2% auto;
}

.btnDescarga img {
    width: 100%;
}
/*-----------------*/

#izquierda {
    border: 3px solid deepskyblue;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/*Imagen*/
#derecha {
    border: 3px solid #959502;
    padding: 0;
}

#contenedor_imgDescarga {
    border: 3px solid aqua;
}

#contenedor_imgDescarga img {
    border: 3px solid darkorchid;
    width: 100%;
}























