* {
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: CB;
    src: url(CB.ttf);
}

.menu {
    list-style: none;
    background: #B08EF7;
    width: 100%;
    height: 90px;
}
.menu li {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
}

.menu li a{
    text-decoration: none;
    font-family:CB;
    font-size:23px;
    color:black;
    padding:40px;
}

.menu li a:hover{
    background:mediumpurple;

}

.menu li:nth-child(n+3) {
    float:right;
    margin-top:40px;
}

#button1,#button2 {

    padding: 0;
    margin-right: 20px;
}


#imgGrande1 {
    width: 100%;
    height: 100%;
}

#REUM {
    position: absolute;
    top: 200px;
    left: 440px;
    font-size: 80px;
    font-family: "Gill Sans MT";
    color: white;
}

#cosas {
    position: absolute;
    top: 850px;
    left: 600px;
    font-family: "Gill Sans MT";
    font-size: 36px;
}

#PrimeraCosa {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 950px;
    left: 100px;
}

#PrimeraCosa {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 950px;
    left: 100px;
}

#SegundaCosa {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 950px;
    left: 800px;
}

#TerceraCosa {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 950px;
    left: 1500px;
}

#cp {
    position: absolute;
    width: 300px;
    top: 1250px;
    left: 100px;
    font-family: "Gill Sans MT";
    font-size: 20px;
}

#cs {
    position: absolute;
    top: 1250px;
    left: 800px;
    font-family: "Gill Sans MT";
    font-size: 20px;
}

#ct {
    position: absolute;
    width: 250px;
    top: 1250px;
    left: 1500px;
    font-family: "Gill Sans MT";
    font-size: 20px;
}

#imgGrande2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1300px;
    left: 0;
}