* {
    padding: 0;
    margin: 0;
}
#barra {
    background-color: #B08EF7;
}

#barra ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#barra ul li{
    display: inline-block;
}

#barra ul li a{
    color: #030303;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: "Gill Sans MT";
    font-size: 23px;

}

#barra ul li a:hover{
    background-color: mediumpurple;
}

.registrar{
    float: right;

}
.iniciar{
    float: right;
}

#imgGrande {
    width: 1903px;
    height: 710px;
}

#REUM {
    position: absolute;
    top: 200px;
    left: 440px;
    font-size: 80px;
    font-family: "Gill Sans MT";
    color: white;
}

#cosas {
    position: absolute;
    top: 850px;
    left: 600px;
    font-family: "Gill Sans MT";
    font-size: 36px;
}

#PrimeraCosa {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 950px;
    left: 100px;
}

#SegundaCosa {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 950px;
    left: 800px;
}

#TerceraCosa {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 950px;
    left: 1500px;
}

#cp {
    position: absolute;
    width: 300px;
    top: 1250px;
    left: 100px;
    font-family: "Gill Sans MT";
    font-size: 20px;
}

#cs {
    position: absolute;
    top: 1250px;
    left: 800px;
    font-family: "Gill Sans MT";
    font-size: 20px;
}

#ct {
    position: absolute;
    width: 250px;
    top: 1250px;
    left: 1500px;
    font-family: "Gill Sans MT";
    font-size: 20px;
}

#ImagenGrande {
    position: absolute;
    width: 1903px;
    height: 900px;
    top: 1300px;
    left: 0;
}