* {
    padding: 0;
    margin: 0;
}

@font-face{
    font-family: CB;
    src: url(CB.ttf);
}

.menu {
    list-style: none;
    background: #B08EF7;
    width: 100%;
    height: 90px;
}
.menu li {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
}

.menu li a{
    text-decoration: none;
    font-family:CB;
    font-size:23px;
    color:black;
    padding:40px;
}

.menu li a:hover{
    background:mediumpurple;

}

.menu li:nth-child(n+3) {
    float:right;
    margin-top:40px;
}

#button1,#button2 {
    border: rebeccapurple 1px solid;
    border-radius: 4px;
    background: rebeccapurple;
    padding: 8px;
    margin-right: 20px;
    color:white;
    font-size: 20px;
}

#button1:hover {
    color: rebeccapurple;
}

#button2:hover {
    color: rebeccapurple;
}



#imgGrande1 {
    width: 100%;
    height: 100%;
}

#REUM {
    position: absolute;
    top: 200px;
    left: 440px;
    font-size: 80px;
    font-family: "Gill Sans MT";
    color: white;
}

#cosas {
    position: absolute;
    top: 850px;
    left: 600px;
    font-family: "Gill Sans MT";
    font-size: 36px;
}

#PrimeraCosa {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 950px;
    left: 100px;
}

#PrimeraCosa {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 950px;
    left: 100px;
}

#SegundaCosa {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 950px;
    left: 800px;
}

#TerceraCosa {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 950px;
    left: 1500px;
}

#cp {
    position: absolute;
    width: 300px;
    top: 1250px;
    left: 100px;
    font-family: "Gill Sans MT";
    font-size: 20px;
}

#cs {
    position: absolute;
    top: 1250px;
    left: 800px;
    font-family: "Gill Sans MT";
    font-size: 20px;
}

#ct {
    position: absolute;
    width: 250px;
    top: 1250px;
    left: 1500px;
    font-family: "Gill Sans MT";
    font-size: 20px;
}

#imgGrande2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1300px;
    left: 0;
}

/* FOOTER */
footer {
    background-color: #B08EF7;
    padding: 5% 0;
}

#contenedor {
    border: 2px solid brown;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

footer img {
    width: 100px;
}

footer section {
    width: 30%;
}

footer li {
    list-style: none;
}

/* Sección 1 y 3 (.enlaces) */
.enlaces {
    border: 1px solid #000;
}

.enlaces ul {
    padding: 0;
    border: 2px solid aqua;
    text-align: center;
    margin: 0;
}

.enlaces li {
    border: 1px solid chartreuse;
}

.enlaces p {
    border: 1px solid #000000;
    text-align: center;
    margin: 0;
}

.enlaces li {
    margin-top: 5%;
}


/*Seccion 1: (de izquierda a derecha) */
#seccion1 ul {
    margin: 15%;
}
/* Fin de la sección 1 */

/* Sección 3*/
.enlaces #contenedorEnlaces {
    border: 2px solid aqua;
    margin: 5%;
}
/* Fin de la sección 3 */

/* Sección 2 (Redes sociales) */
#seccion2 {
    border: 2px solid chartreuse;
}

/* Para el nombre REUM */
#logo {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid salmon;
}

#logo p {
    border: 1px solid aqua;
    font-size: 25px;
    margin: 10% 0 0 0;
}

hr {
    border: 1px solid #fff;
    background-color: #fff;
}
.redesSociales ul {
    border: 3px solid darkorange;
    padding: 0;
    display: flex;
}

.redesSociales ul li{
    border: 1px solid aqua;
    width: 100%;
}

.redesSociales ul a {
    border: 1px solid crimson;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.redesSociales img {
    width: 100%;
    height: auto;
    max-width: 70px;
    border: 1px solid #000000;
}
/* Fin de la sección 2 */

/* Fin del FOOTER */